<div class="container">
  <div class="col-12 d-flex justify-content-center" style="margin-top: 100px">
    <div class="d-flex flex-column bd-highlight mb-3" style="width:90%">
      <div class="p-2 bd-highlight">
        <div class="row">
          <app-filtar-usuario (buscarUsuario)="buscarUsuario($event)"></app-filtar-usuario>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <div class="row">
          <nz-table #basicTable [nzData]="listaDetatalleConsuluta">
            <thead>
            <tr>
              <th>Identificacion</th>
              <th>Nombre</th>
              <th>Medico</th>
              <th>Especilidad</th>
              <th>Hora Cita</th>
              <th>Fecha Cita</th>
              <th>Cuota Moderadora</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.identificacion }}</td>
              <td>{{ data.nombre }}</td>
              <td>{{ data.nombreEspecilista }}</td>
              <td>{{ data.especialidad }}</td>
              <td>{{ data.horaCita }}</td>
              <td>{{ data.fechaCita }}</td>
              <td>{{ data.cuoataModeradora }}</td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>

